<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <input type="button" value="Send toast" class="btn btn-success" onclick="showToast('mi mensaje');">
      <input type="button" value="Send message to server" class="btn btn-success" onclick="messageToServer('el cliente');">

    </div>
  </div>
</main>
